<!-- past -->
<div class="col s6">
    <table class="highlight centered resposive-table">
        <!-- table head -->
        <thead class="grey">
            <tr>
                <th>هو</th>
                <th>هي</th>
                <th>انتَ</th>
                <th>انتِ</th>
                <th>انا</th>
                <th>نحن</th>
            </tr>
        </thead>

        <!-- table body -->
        <tbody>
            {% for c in conjugations %}
            <tr>
                <td>{{ c.he_past }}</td>
                <td>{{ c.she_past }}</td>
                <td>{{ c.you_male_past }}</td>
                <td>{{ c.you_female_past }}</td>
                <td>{{ c.i_past }}</td>
                <td>{{ c.we_past }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- present -->
<div class="col s6">
    <table class="highlight centered resposive-table">
        <!-- table head -->
        <thead class="grey">
            <tr>
                <th>هو</th>
                <th>هي</th>
                <th>انتَ</th>
                <th>انتِ</th>
                <th>انا</th>
                <th>نحن</th>
            </tr>
        </thead>

        <!-- table body -->
        <tbody>
            {% for c in conjugations %}
            <tr>
                <td>{{ c.he_present }}</td>
                <td>{{ c.she_present }}</td>
                <td>{{ c.you_male_present }}</td>
                <td>{{ c.you_female_present }}</td>
                <td>{{ c.i_present }}</td>
                <td>{{ c.we_present }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>