<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">درباره ما</h5>
                <p class="grey-text text-lighten-4">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">تنظیمات</h5>
                <ul>
                    <li><a class="white-text" href="#!">لینک 1</a></li>
                    <li><a class="white-text" href="#!">لینک 2</a></li>
                    <li><a class="white-text" href="#!">لینک 3</a></li>
                    <li><a class="white-text" href="#!">لینک 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">تماس</h5>
                <ul>
                    <li><a class="white-text" href="#!">لینک 1</a></li>
                    <li><a class="white-text" href="#!">لینک 2</a></li>
                    <li><a class="white-text" href="#!">لینک 3</a></li>
                    <li><a class="white-text" href="#!">لینک 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ساخته شده با <a class="orange-text text-lighten-3" href="http://materializecss.com">متریالایز</a>
            و راست به چپ سازی توسط <a class="orange-text text-lighten-3" href="https://github.com/amirsaa"
                target="_blank">امیرصالحی</a>
        </div>
    </div>
</footer>