{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html' %}

<main>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col s12 m4">
                <div class="card orange darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">المستوى ١</span>
                        <p>كتاب الطالب الأول</p>
                        <!-- <p>الخزء الأول و الثاني</p> -->
                        <!-- <p> الوحدات ١-١٦ </p> -->
                            
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="{% url 'level1:conjugation' %}">تفضل</a>
                    </div> 
                </div>
            </div>
        </div>
        <br><br>
    </div>
</main>

{% include 'footer.html' %}
{% endblock body %}